<a href="https://colab.research.google.com/github/dinesh842/python-/blob/main/task10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from functools import reduce

# Calculate the factorial of 5
# The process is: the first calculated process as the first parameter of the action function, the next element as the second parameter of the action function
range_ = list(range(1,6))
print(reduce(lambda x,y: x*y, range_))
# 120

# Combine the elements in the sequence into a string
list_ = list(range(1,10))
string = reduce(lambda x,y: x+y,map(str,list_))# Note that the map returns an iterable object
print(string)
# '123456789'

120
123456789

In [8]:
list_int = list(map(int,range(5)))
list_float = list(map(float,range(5)))
list_str = list(map(str,range(5)))
for item in zip(list_int,list_float,list_str):
	print(item)
#(0, 0.0, '0') returns tuple
#(1, 1.0, '1')
#(2, 2.0, '2')
#(3, 3.0, '3')
#(4, 4.0, '4')

for a,b,c in zip(list_int,list_float,list_str):
    print(a,b,c)
#0 0.0 0
#1 1.0 1
#2 2.0 2
#3 3.0 3
#4 4.0 4

(0, 0.0, '0')
(1, 1.0, '1')
(2, 2.0, '2')
(3, 3.0, '3')
(4, 4.0, '4')
0 0.0 0
1 1.0 1
2 2.0 2
3 3.0 3
4 4.0 4

In [9]:
for i in enumerate([1,2,3,4]):
	print(i)
 
'''(0, 1)
(1, 2)
(2, 3)
(3, 4)'''
 
for i in enumerate([1,2,3,4],start = 2):
    print(i)
 
'''(2, 1)
(3, 2)
(4, 3)
(5, 4)'''

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(2, 1)
(3, 2)
(4, 3)
(5, 4)

'(2, 1)\n(3, 2)\n(4, 3)\n(5, 4)'